/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #1e90ff;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #1247c1;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 28px;
}

/* Form and button styles */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.dengue-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #1e90ff;
  outline: none;
}

.submit-button {
  background-color: #1e90ff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #0039bf;
}

.cancel-button {
  background-color: #ff6347;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: #ff4500;
}

/* Table styles */
.table-container {
  max-width: 1000px; /* Wider table */
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 12px;
  border: 2px solid #ddd;
  min-width: 100px; /* Adjusted for wider columns */
}

th {
  background-color: #1e90ff;
  color: white;
}

td {
  background-color: #ffffff;
}

button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Button group for edit and delete */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
}

/* Button colors for edit and delete */
.edit-button {
  background-color: #1E90FF;
  color: white;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;

}
.edit-button:hover {
  background-color: #0039bf;
}

.delete-button {
  background-color: #ff154f;
  color: white;
  font-size: 15px;
}

.delete-button:hover {
  background-color: #CC0033;
}


.csv-uploader-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 5px;
  gap: 20px;
  max-width: 500px;
  margin: 90px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.csv-controls {
  display: flex;
  flex-direction: row; /* Items in csv-controls will be in a row */
  gap: 10px;
}

.file-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.file-input:focus {
  border-color: #1e90ff;
  outline: none;
}

.upload-button {
  background-color: #1e90ff;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #0039bf;
}

/* Optional global styles to ensure everything is centered */
body {
  font-family: 'Arial', sans-serif;
  background-color: #c3e3ff;
  margin: 0;
  padding: 0;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.page-button {
  background-color: #1e90ff;
  color: white;
  padding: 10px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-button:hover {
  background-color: #0070e1;
}

.page-button.active {
  background-color: #003469;
}

.page-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.page-button {
  font-size: 18px;
}

/* Styling for the search bar and filter */
.search-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  width: 45%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #7a7a7a;
  font-size: 16px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 28px;
  height: 19px;
}

.region-filter {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 245px;
  text-align: center;
}


.chart-container {
  max-width: 1000px; /* Wider table */
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border-color: #7a7a7a;
}

/* charts table */

.section-title {
  text-align: center;
  color: #2b6cb0;
  font-size: 28px;
  font-weight: 600;
}

.filter-label {
  display: block;
  margin: 10px 0;
  color: #2c5282;
  font-weight: 500;
}


.chart-region-filter{
  padding: 8px;
  margin: 10px auto; /* Use auto to center */
  border-radius: 5px;
  border: 1px solid #a0aec0;
  background-color: #edf2f7;
  color: #2c5282;
  width: 300px; /* Set a width to ensure centering */
  text-align: center;
}

.chart-filter,
.chart-type-filter {
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #a0aec0;
  background-color: #edf2f7;
  color: #2c5282;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  width: 231px;
  background-color: #1a83eb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
  margin-left: 30px;
  height: 95px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.card:hover {
  background-color: #0039bf;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 18px;
}

.recharts-bar-rectangle1 {
  stroke-width: 1.5px;
}
